body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #3f374a;
    color: white;
    margin: auto;
    max-width: 800px;
}

.intro-paragraph {
    border: 2px solid white;
    border-radius: 15px;
    padding: 10px;
    margin: 20px 0;
}

h1, h2 {
    margin: 10px 0;
    color: white;
}

.section {
    margin: 40px 0;
    text-align: left;
}

.nav-buttons, .contact, .contacts {
    margin-bottom: 30px;
}

.contact-widget {
    display: none;
    position: fixed;
    right: 10px;
    top: 10px;
    background-color: #3f374a;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 5px;
    z-index: 1000;
    padding: 15px;
    color: white;
}

.contact-widget-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.close-btn {
    font-size: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
}

.btn {
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: 2px solid white;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
    background-color: white;
    color: #3f374a;
}

a {
    color: #5f557a;
    text-decoration: none;
}

a:hover {
    color: #3f374a;
    text-decoration: underline;
}

a:visited {
    color: white;
}

.tic-tac-toe-widget {
    background-color: white;
    border: 2px solid #3f374a;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    max-width: 200px;
    margin: auto;
}

.tic-tac-toe-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.tic-tac-toe-cell {
    width: 60px;
    height: 60px;
    border: 1px solid #5f557a;
    background-color: #3f374a;
    color: white;
    font-size: 24px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
}

/* Styles for the reset button in the Tic Tac Toe widget */
.tic-tac-toe-widget .reset-btn {
    background-color: #3f374a; /* Dark purple background */
    color: white; /* White text */
    border: 2px solid white; /* White border */
}

.tic-tac-toe-widget .reset-btn:hover {
    background-color: white; /* White background on hover */
    color: #3f374a; /* Dark purple text on hover */
}

@media screen and (max-width: 600px) {
    body {
        padding: 15px;
        max-width: none;
    }

    .btn {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }
}
